.dg_flag {
  width: var(--flagWidth);
  height: var(--flagHeight);
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: var(--flagWidth);
  background-image: url("./images/flags/default.png");
}

.dg_flag-113 {
  background-image: url("./images/flags/133.png");
}

.dg_flag-111 {
  background-image: url("./images/flags/111.png");
}
.dg_flag-132 {
  background-image: url("./images/flags/132.png");
}
.dg_flag-133 {
  background-image: url("./images/flags/133.png");
}
.dg_flag-170 {
  background-image: url("./images/flags/170.png");
}

.sport_bg_graphics {
  width: 320px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./images/backgrounds/1.webp);
  background-position: right center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sport_type_1  {
  background-image: url("./images/backgrounds/1.webp");
}
.sport_type_2 {
  background-image: url("./images/backgrounds/2.webp");
}
.sport_type_4 {
  background-image: url("./images/backgrounds/4.webp");
}

.sport_type_5 {
  background-image: url("./images/backgrounds/5.webp");
}

.sport_type_7 {
  background-image: url("./images/backgrounds/7.webp");
}

.sport_type_2 {
  background-image: url("./images/backgrounds/2.webp");
}

.sport_type_2 {
  background-image: url("./images/backgrounds/2.webp");
}

