*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  color-scheme: dark light;
}
body {
  min-height: 100vh;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}

:root,
:host {
  font-size: 12px;

  --paddingX: 4px;
  --paddingX2: 8px;
  --paddingX3: 12px;
  --paddingX4: 16px;

  --paddingY: 3px;
  --paddingY3: 6px;
  --paddingY4: 9px;

  --flagWidth: 24px;
  --flagHeight: 18px;

  --global_font_size: 13px;
}
