:root {
	--bodyBg: #28272C;
	--bodyBg2: #413f47;
	--bodyBg3: #4d4b55;
	--bodyBgHover: #2f2e34;
	--bodyBg2Hover: #48464f;
	--bodyBg3Hover: #54525d;
	--bodyRGBA: rgba(40, 39, 44, 0.7);
	--bodyRGBA2: rgba(40, 39, 44, 0.5);
	--bodyRGBA3: rgba(40, 39, 44, 0.3);
	--bodyTxt: #eae9ea;
	--bodyTxt2: #bfbec0;
	--bodyTxt3: #949396;
	--bodyAccent: #DE6ACD;
	--bodyAccentTxt: rgba(255, 255, 255, 0.9);
	--bodyBorder: #28272C;
	--bodyRadius: 8px;

	--dominantG: #2f2e34;
	--dominantRGBA: rgba(47, 46, 52, 0.7);
	--dominantRGBA2: rgba(47, 46, 52, 0.5);
	--dominantRGBA3: rgba(47, 46, 52, 0.3);
	--dominantBg: #2f2e34;
	--dominantBg2: #47464f;
	--dominantBg3: #54525d;
	--dominantBgHover: #36353c;
	--dominantBg2Hover: #4e4d57;
	--dominantBg3Hover: #5b5965;
	--dominantTxt: #eaeaeb;
	--dominantTxt2: #c1c0c2;
	--dominantTxt3: #97979a;
	--dominantTxtInverse: #262626;
	--dominantRadius: 8px;

	--accentBg: #DE6ACD;
	--accentBg2: #e794db;
	--accentBg3: #eca9e2;
	--accentBgHover: #e177d1;
	--accentBg2Hover: #eaa0df;
	--accentBg3Hover: #efb6e6;
	--accentG: #DE6ACD;
	--accentTxt: #fcf0fa;
	--accentTxt2: #f5d2f0;
	--accentTxt3: #efb5e6;

	--buttonG: #e177d1;
	--buttonBg: #e177d1;
	--buttonBg2: #eaa1df;
	--buttonBg3: #efb6e6;
	--buttonBgHover: #e484d5;
	--buttonBg2Hover: #edaee3;
	--buttonBg3Hover: #f2c3ea;
	--buttonTxt: #170c15;
	--buttonTxt2: #44243f;
	--buttonTxt3: #713c69;
	--buttonAccent: #DE6ACD;
	--buttonAccentTxt: rgba(255, 255, 255, 0.9);
	--buttonBorder: #28272C;
	--buttonRadius: 0px;

	--buttonSecondaryG: #54525d;
	--buttonSecondaryBg: #54525d;
	--buttonSecondaryBg2: #6c6a78;
	--buttonSecondaryBg3: #797686;
	--buttonSecondaryBgHover: #5b5965;
	--buttonSecondaryBg2Hover: #737180;
	--buttonSecondaryBg3Hover: #817e8d;
	--buttonSecondaryTxt: #eeeeef;
	--buttonSecondaryTxt2: #cccbce;
	--buttonSecondaryTxt3: #aaa9ae;
	--buttonSecondaryAccent: #DE6ACD;
	--buttonSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
	--buttonSecondaryBorder: #28272C;
	--buttonSecondaryRadius: 8px;

	--inputG: #413f47;
	--inputBg: #413f47;
	--inputBg2: #5a5762;
	--inputBg3: #666370;
	--inputBgHover: #48464f;
	--inputBg2Hover: #615e6a;
	--inputBg3Hover: #6d6a78;
	--inputTxt: #ececed;
	--inputTxt2: #c6c5c8;
	--inputTxt3: #a09fa3;
	--inputAccent: #DE6ACD;
	--inputAccentTxt: rgba(255, 255, 255, 0.9);
	--inputRadius: 8px;
	--inputBorder: #28272C;

	--inputSecondaryG: #48464f;
	--inputSecondaryBg: #48464f;
	--inputSecondaryBg2: #615e6a;
	--inputSecondaryBg3: #6d6a78;
	--inputSecondaryBgHover: #4f4d57;
	--inputSecondaryBg2Hover: #686572;
	--inputSecondaryBg3Hover: #747180;
	--inputSecondaryTxt: #ededed;
	--inputSecondaryTxt2: #c8c8ca;
	--inputSecondaryTxt3: #a4a3a7;
	--inputSecondaryAccent: #DE6ACD;
	--inputSecondaryAccentTxt: rgba(255, 255, 255, 0.9);
	--inputSecondaryRadius: 8px;
	--inputSecondaryBorder: #28272C;

	--headerG: linear-gradient(246deg, #39373A 0%, #443348 100%);
	--headerBg: #443348;
	--headerBg2: #604866;
	--headerBg3: #6e5375;
	--headerBgHover: #4c3951;
	--headerBg2Hover: #684e6f;
	--headerBg3Hover: #76597e;
	--headerTxt: #ecebed;
	--headerTxt2: #c7c2c8;
	--headerTxt3: #a299a4;
	--headerAccent: #DE6ACD;
	--headerAccentTxt: rgba(255, 255, 255, 0.9);
	--headerBorder: #28272C;
	--headerRadius: 8px;

	--subHeaderG: linear-gradient(246deg, #39373A 0%, #242424 100%);
	--subHeaderBg: #242424;
	--subHeaderBg2: #3d3d3d;
	--subHeaderBg3: #4a4a4a;
	--subHeaderBgHover: #2c2c2c;
	--subHeaderBg2Hover: #454545;
	--subHeaderBg3Hover: #525252;
	--subHeaderTxt: #e9e9e9;
	--subHeaderTxt2: #bdbdbd;
	--subHeaderTxt3: #929292;
	--subHeaderAccent: #DE6ACD;
	--subHeaderAccentTxt: rgba(255, 255, 255, 0.9);
	--subHeaderBorder: #28272C;
	--subHeaderRadius: 8px;

	--eventG: #413f47;
	--eventBg: #413f47;
	--eventBg2: #5a5762;
	--eventBg3: #666370;
	--eventBgHover: #48464f;
	--eventBg2Hover: #615e6a;
	--eventBg3Hover: #6d6a78;
	--eventTxt: #ececed;
	--eventTxt2: #c6c5c8;
	--eventTxt3: #a09fa3;
	--eventAccent: #DE6ACD;
	--eventAccentTxt: rgba(255, 255, 255, 0.9);
	--eventBorder: #28272C;
	--eventRadius: 8px;

	--modalG: #413f47;
	--modalBg: #413f47;
	--modalBg2: #5a5762;
	--modalBg3: #666370;
	--modalBgHover: #48464f;
	--modalBg2Hover: #615e6a;
	--modalBg3Hover: #6d6a78;
	--modalTxt: #ececed;
	--modalTxt2: #c6c5c8;
	--modalTxt3: #a09fa3;
	--modalAccent: #DE6ACD;
	--modalAccentTxt: rgba(255, 255, 255, 0.9);
	--modalRadius: 8px;
	--modalBorder: #28272C;

	--oddG: #2f2e34;
	--oddBg: #2f2e34;
	--oddBg2: #47464f;
	--oddBg3: #54525d;
	--oddBgHover: #36353c;
	--oddBg2Hover: #4e4d57;
	--oddBg3Hover: #5b5965;
	--oddTxt: #eaeaeb;
	--oddTxt2: #c1c0c2;
	--oddTxt3: #97979a;
	--oddAccent: #DE6ACD;
	--oddAccentTxt: rgba(255, 255, 255, 0.9);
	--oddRadius: 8px;
	--oddBorder: #28272C;

	--oddActiveG: #e177d1;
	--oddActiveBg: #e177d1;
	--oddActiveBg2: #eaa1df;
	--oddActiveBg3: #efb6e6;
	--oddActiveBgHover: #e484d5;
	--oddActiveBg2Hover: #edaee3;
	--oddActiveBg3Hover: #f2c3ea;
	--oddActiveTxt: #170c15;
	--oddActiveTxt2: #44243f;
	--oddActiveTxt3: #713c69;
	--oddActiveAccent: #DE6ACD;
	--oddActiveAccentTxt: rgba(255, 255, 255, 0.9);
	--oddActiveRadius: 0px;
	--oddActiveBorder: #28272C;

	--showMoreG: #2f2e34;
	--showMoreBg: #2f2e34;
	--showMoreBg2: #47464f;
	--showMoreBg3: #54525d;
	--showMoreBgHover: #36353c;
	--showMoreBg2Hover: #4e4d57;
	--showMoreBg3Hover: #5b5965;
	--showMoreTxt: #eaeaeb;
	--showMoreTxt2: #c1c0c2;
	--showMoreTxt3: #97979a;
	--showMoreAccent: #DE6ACD;
	--showMoreAccentTxt: rgba(255, 255, 255, 0.9);
	--showMoreRadius: 8px;
	--showMoreBorder: #28272C;


	--tabG: #413f47;
	--tabBg: #413f47;
	--tabBg2: #5a5762;
	--tabBg3: #666370;
	--tabBgHover: #48464f;
	--tabBg2Hover: #615e6a;
	--tabBg3Hover: #6d6a78;
	--tabTxt: #ececed;
	--tabTxt2: #c6c5c8;
	--tabTxt3: #a09fa3;
	--tabAccent: #DE6ACD;
	--tabAccentTxt: rgba(255, 255, 255, 0.9);
	--tabRadius: 8px;
	--tabBorder: #28272C;

	--tabActiveG: #48464f;
	--tabActiveBg: #48464f;
	--tabActiveBg2: #615e6a;
	--tabActiveBg3: #6d6a78;
	--tabActiveBgHover: #4f4d57;
	--tabActiveBg2Hover: #686572;
	--tabActiveBg3Hover: #747180;
	--tabActiveTxt: #ededed;
	--tabActiveTxt2: #c8c8ca;
	--tabActiveTxt3: #a4a3a7;
	--tabActiveAccent: #DE6ACD;
	--tabActiveAccentTxt: rgba(255, 255, 255, 0.9);
	--tabActiveRadius: 8px;
	--tabActiveBorder: #28272C;

	--tabSecondaryActiveG: #48464f;
	--tabSecondaryActiveBg: #48464f;
	--tabSecondaryActiveBg2: #615e6a;
	--tabSecondaryActiveBg3: #6d6a78;
	--tabSecondaryActiveBgHover: #4f4d57;
	--tabSecondaryActiveBg2Hover: #686572;
	--tabSecondaryActiveBg3Hover: #747180;
	--tabSecondaryActiveTxt: #ededed;
	--tabSecondaryActiveTxt2: #c8c8ca;
	--tabSecondaryActiveTxt3: #a4a3a7;
	--tabSecondaryActiveAccent: #DE6ACD;
	--tabSecondaryActiveAccentTxt: rgba(255, 255, 255, 0.9);
	--tabSecondaryActiveRadius: 8px;
	--tabSecondaryActiveBorder: #28272C;

	--filterG: #48464f;
	--filterBg: #48464f;
	--filterBg2: #615e6a;
	--filterBg3: #6d6a78;
	--filterBgHover: #4f4d57;
	--filterBg2Hover: #686572;
	--filterBg3Hover: #747180;
	--filterTxt: #ededed;
	--filterTxt2: #c8c8ca;
	--filterTxt3: #a4a3a7;
	--filterAccent: #DE6ACD;
	--filterAccentTxt: rgba(255, 255, 255, 0.9);
	--filterRadius: 8px;
	--filterBorder: #28272C;

	--menu_1G: #413f47;
	--menu_1Bg: #413f47;
	--menu_1Bg2: #5a5762;
	--menu_1Bg3: #666370;
	--menu_1BgHover: #48464f;
	--menu_1Bg2Hover: #615e6a;
	--menu_1Bg3Hover: #6d6a78;
	--menu_1Txt: #ececed;
	--menu_1Txt2: #c6c5c8;
	--menu_1Txt3: #a09fa3;
	--menu_1Accent: #DE6ACD;
	--menu_1AccentTxt: rgba(255, 255, 255, 0.9);
	--menu_1Radius: 8px;
	--menu_1Border: #28272C;

	--menu_2G: #48464f;
	--menu_2Bg: #48464f;
	--menu_2Bg2: #615e6a;
	--menu_2Bg3: #6d6a78;
	--menu_2BgHover: #4f4d57;
	--menu_2Bg2Hover: #686572;
	--menu_2Bg3Hover: #747180;
	--menu_2Txt: #ededed;
	--menu_2Txt2: #c8c8ca;
	--menu_2Txt3: #a4a3a7;
	--menu_2Accent: #DE6ACD;
	--menu_2AccentTxt: rgba(255, 255, 255, 0.9);
	--menu_2Radius: 8px;
	--menu_2Border: #28272C;

	--menu_3G: #4d4b55;
	--menu_3Bg: #4d4b55;
	--menu_3Bg2: #666370;
	--menu_3Bg3: #726f7e;
	--menu_3BgHover: #54525d;
	--menu_3Bg2Hover: #6d6a78;
	--menu_3Bg3Hover: #797686;
	--menu_3Txt: #ededee;
	--menu_3Txt2: #cac9cc;
	--menu_3Txt3: #a6a5aa;
	--menu_3Accent: #DE6ACD;
	--menu_3AccentTxt: rgba(255, 255, 255, 0.9);
	--menu_3Radius: 8px;
	--menu_3Border: #28272C;

	--tooltipG: #413f47;
	--tooltipBg: #413f47;
	--tooltipBg2: #5a5762;
	--tooltipBg3: #666370;
	--tooltipBgHover: #48464f;
	--tooltipBg2Hover: #615e6a;
	--tooltipBg3Hover: #6d6a78;
	--tooltipTxt: #ececed;
	--tooltipTxt2: #c6c5c8;
	--tooltipTxt3: #a09fa3;
	--tooltipAccent: #DE6ACD;
	--tooltipAccentTxt: rgba(255, 255, 255, 0.9);
	--tooltipRadius: 8px;
	--tooltipBorder: #28272C;

	/* Old betslip */
	--betSlipBg: #413f47;
	--betSlipBg2: #5a5762;
	--betSlipBorder: #28272C;
	--betSlipTxt: #ececed;
	--betSlipTxt2: #c6c5c8;

	--betSlipStakeG: #48464f;
	--betSlipStakeBg: #48464f;
	--betSlipStakeTxt: #ededed;
	--betSlipStakeTxt2: #c8c8ca;

	--betSlipInputG: #48464f;
	--betSlipInputTxt: #ededed;

	--betSlipButtonG: #48464f;
	--betSlipButtonBg2: #615e6a;
	--betSlipButtonTxt: #ededed;
	--betSlipButtonRadius: 8px;


	--spritePositionX: 0px;
}