html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --bg: #f5fcff;
  --bg2: #9f9f9f;
  --txt: #1a1a1a;
  --brand: #37d5d3;

  --radius: 12px;

  --sidebarBg: #fff;
  --sidebarTxt: #1a1a1a;
  --sidebarTxt2: #2f2f2f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.CL_UI_root {
  display: grid;
  grid-template-columns: 230px 1fr;
  background-color: var(--bg);
  color: var(--txt);
  height: 100vh;
}

.CL_UI_aside_root {
  background-color: var(--sidebarBg);
  color: var(--sidebarTxt);
  padding: 10px 12px;
}

.CL_UI_aside_links {
  display: flex;
  flex-direction: column;
}

.CL_UI_aside_links a {
  padding: 8px 6px;
  text-decoration: none;
  color: var(--sidebarTxt);
}

.CL_UI_main_root {
  background-color: var(--bg);
  color: var(--txt);
  overflow-y: auto;
}

.CL_UI_presentation_root {
  padding: 50px;
}

.CL_UI_component_preview_root {
  background-color: var(--bg);
  color: var(--txt);
  border: 1px solid var(--bg2);
  border-radius: var(--radius);
  padding: 20px;
}

.CL_UI_aside_root .CL_UI_root_logo {
  aspect-ratio: 3 / 1;
}

.CL_UI_aside_root h3 {
  color: var(--sidebarTxt2);
  font-weight: 700;
}
